:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    width: 900px;
    max-width: 900px;
    animation: custom-dialog-enter 1s ease;
  }
  
  @keyframes custom-dialog-enter {
    from {
      transform: scale(0) rotate(360deg);
    }
  
    to {
      transform: none;
    }
  }

  .ancho {
    width: 80%;
  }

  .ng-star-inserted{
    width: 800px;
  }
  
  .cdk-overlay-pane{
    min-width: none;
    width: 400px;
  }
