.selected {
  background-color: rgba(0, 0, 85, 0.4);
  background-color: #0000001f;
  background-color: #000055 !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background-color: #00377b;
}

.mat-toolbar * {
  letter-spacing: normal;
}

button{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

button:hover {
  background-color: #0000001f;
}
