<div class="body">
  <div class="login" >
      <mat-spinner *ngIf="loding" class="spinner" diameter="50"></mat-spinner>
      <form *ngIf="!loding" [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
          <img src="assets/img/02_Logo_Tigo_209x150.png" alt="Tigo" width="50%">
          <h1>Soporte Comercial</h1>
          <mat-form-field class="ancho" appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput autocomplete="off" formControlName="username">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input  type = "password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" class="buttonPage" mat-raised-button [disabled]="loginForm.invalid">Iniciar sesión</button>
      </form>
  </div>
</div>