<app-header></app-header>

<div class="body">
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="buscar()">
      <br />
      <h1>Consultar información del cliente</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Pedido UNE</mat-label>
        <input matInput autocomplete="off" formControlName="Pedido" />
      </mat-form-field>
      <br />
      <button type="submit" class="buttonPage ancho" [disabled]="loading">Buscar</button>
    </form>
  </div>
</div>
@if (loading) {
<mat-spinner class="spinner" diameter="50"></mat-spinner>
}
<mat-card-content style="padding: 20px">
  @if (aparece) {
  <mat-tab-group>
    <mat-tab label="Pedido">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Nombre del cliente</th>
            <td>{{ datos[0].NombreCliente }}</td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td>{{ datos[0].Name }}</td>
          </tr>
          <tr>
            <th scope="row">Fecha</th>
            <td>{{ datos[0].FechaCita }}</td>
          </tr>
          <tr>
            <th scope="row">Hora - Franja</th>
            <td>{{ datos[0].HoraCita }}</td>
          </tr>
          <tr>
            <th scope="row">Guion</th>
            <td>{{ Guion }}</td>
          </tr>
          @if (datos[0].UNEObservation != null) {
          <tr>
            <th scope="row">Observación despachador</th>
            <td>{{ datos[0].UNEObservation }}</td>
          </tr>
          }

          <tr>
            <th scope="row">Técnico</th>
            <td>{{ datos[0].NombreTecnico }}</td>
          </tr>
          @if (observe) {
          <tr>
            <th scope="row">Observación Técnico</th>
            <td>{{ Observacion }}</td>
          </tr>
          } @if (aparece1) {
          <tr>
            <th scope="row">Supervisor</th>
            <td>{{ supervisor[0].NOMBRE_FUNCIONARIO }}</td>
          </tr>
          } @if (aparece1) {
          <tr>
            <th scope="row">Celular Supervisor</th>
            <td>{{ supervisor[0].CELULAR }}</td>
          </tr>
          } @if (EstadoPedido) {
          <tr>
            <th>Estado Click</th>
            <td>
              Pedido Amarillo (El pedido no tiene información completa en click,
              es temporal)
            </td>
          </tr>
          } @if (MicroZona) {
          <tr>
            <th>Microzona</th>
            <td>El pedido esta en una microzona de no atención</td>
          </tr>
          }
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
  }
</mat-card-content>
