<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <h1 class="center">Restablecer contraseña</h1>
  
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput autocomplete="off" formControlName="email" type="email"/>
          @if (formulario.get('email')?.hasError('required')) {
          <mat-error>El correo es obligatorio</mat-error>
          } @if (formulario.get('email')?.hasError('email')) {
          <mat-error>Ingresa un correo electrónico válido.</mat-error>
          }
        </mat-form-field>
  
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Confirmar Correo Electrónico:</mat-label>
          <input matInput placeholder="Confirmar correo" formControlName="emailConfirm" type="email"/>
          @if (formulario.get('emailConfirm')?.hasError('required')) {
          <mat-error>Confirmar correo es obligatorio</mat-error>
          } @if (formulario.get('emailConfirm')!.hasError('equalValue')) {
          <mat-error>Los correos electrónicos no coinciden.</mat-error>
          }
        </mat-form-field>
  

        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile [colspan]="1" [rowspan]="1" class="center">
              <button  class="buttonPage" (click)="onNoClick()">
                Cancelar
              </button>
            </mat-grid-tile>
  
            <mat-grid-tile [colspan]="1" [rowspan]="1" class="center" >
              <button mat-raised-button class="buttonPage" type="submit" [disabled]="formulario.invalid">
                Enviarlo
              </button>
            </mat-grid-tile>
        </mat-grid-list>
  
      
  </form>
  