<app-header></app-header>
<br>
<div class="body">
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="buscar()">
      <h1>Consultar pedido</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Pedido UNE</mat-label>
        <input matInput autocomplete="off" formControlName="Pedido">
      </mat-form-field>
      <br>
      <button type="submit" class="ancho button">Buscar</button>
    </form>
  </div>
</div>
<mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

<Div *ngIf="aparece">

  <table class="table" *ngIf="install">
    <thead>
      <tr>
        <th scope="col">PEDIDO UNE</th>
        <th scope="col">TIPO PETICIÓN</th>
        <th scope="col">PEDIDO ID</th>
        <th scope="col">FECHA</th>
        <th scope="col">SERIAL</th>
        <th scope="col">MAC</th>
        <th scope="col">PRODUCTO</th>
        <th scope="col">TIPO EQUIPO</th>
        <th scope="col">FECHA_COMPLETADO</th>
        <th scope="col">ESTADO CLICK</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of dataInstall">
        <td>{{dato.PEDIDO_UNE}}</td>
        <td> {{dato.TIPOPETICION}}</td>
        <td>{{dato.PEDIDO_ID}}</td>
        <td>{{dato.FECHA}}</td>
        <td>{{dato.SERIAL}}</td>
        <td>{{dato.MAC}}</td>
        <td>{{dato.PRODUCTO}}</td>
        <td>{{dato.TIPO_EQUIPO}}</td>
        <td>{{dato.FECHA_COMPLETADO}}</td>
        <td>{{dato.ESTADO_CLICK}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngIf="repair">
    <thead>
      <tr>
        <th scope="col">PEDIDO UNE</th>
        <th scope="col">TIPO PETICIÓN</th>
        <th scope="col">PEDIDO ID</th>
        <th scope="col">FECHA</th>
        <th scope="col">Serial Recuperado</th>
        <th scope="col">Serial Entrante</th>
        <th scope="col">MAC Recuperado</th>
        <th scope="col">MAC Entrante</th>
        <th scope="col">PRODUCTO</th>
        <th scope="col">TIPO EQUIPO</th>
        <th scope="col">FECHA_COMPLETADO</th>
        <th scope="col">ESTADO CLICK</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of dataRepair">
        <td>{{dato.PEDIDO_UNE}}</td>
        <td> {{dato.TIPOPETICION}}</td>
        <td>{{dato.PEDIDO_ID}}</td>
        <td>{{dato.FECHA}}</td>
        <td>{{dato.SerialNoReal}}</td>
        <td>{{dato.SerialNoReal2}}</td>
        <td>{{dato.MACReal}}</td>
        <td>{{dato.MACReal2}}</td>
        <td>{{dato.PRODUCTO}}</td>
        <td>{{dato.TIPO_EQUIPO}}</td>
        <td>{{dato.FECHA_COMPLETADO}}</td>
        <td>{{dato.ESTADO_CLICK}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngIf="traslado">
    <thead>
      <tr>
        <th scope="col">PEDIDO UNE</th>
        <th scope="col">TIPO PETICIÓN</th>
        <th scope="col">PEDIDO ID</th>
        <th scope="col">FECHA</th>
        <th scope="col">SERIAL</th>
        <th scope="col">MAC</th>
        <th scope="col">PRODUCTO</th>
        <th scope="col">TIPO EQUIPO</th>
        <th scope="col">FECHA_COMPLETADO</th>
        <th scope="col">ESTADO CLICK</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of dataTralado">
        <td>{{dato.PEDIDO_UNE}}</td>
        <td> {{dato.TIPOPETICION}}</td>
        <td>{{dato.PEDIDO_ID}}</td>
        <td>{{dato.FECHA}}</td>
        <td>{{dato.SERIAL}}</td>
        <td>{{dato.MAC}}</td>
        <td>{{dato.PRODUCTO}}</td>
        <td>{{dato.TIPO_EQUIPO}}</td>
        <td>{{dato.FECHA_COMPLETADO}}</td>
        <td>{{dato.ESTADO_CLICK}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table" *ngIf="collect">
    <thead>
      <tr>
        <th scope="col">PEDIDO UNE</th>
        <th scope="col">TIPO PETICIÓN</th>
        <th scope="col">PEDIDO ID</th>
        <th scope="col">FECHA</th>
        <th scope="col">Serial Real</th>
        <th scope="col">MAC Real</th>
        <th scope="col">PRODUCTO</th>
        <th scope="col">TIPO EQUIPO</th>
        <th scope="col">FECHA_COMPLETADO</th>
        <th scope="col">ESTADO CLICK</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of dataCollect">
        <td>{{dato.PEDIDO_UNE}}</td>
        <td> {{dato.TIPOPETICION}}</td>
        <td>{{dato.PEDIDO_ID}}</td>
        <td>{{dato.FECHA}}</td>
        <td>{{dato.SerialNoReal}}</td>
        <td>{{dato.MACReal}}</td>
        <td>{{dato.PRODUCTO}}</td>
        <td>{{dato.TIPO_EQUIPO}}</td>
        <td>{{dato.FECHA_COMPLETADO}}</td>
        <td>{{dato.ESTADO_CLICK}}</td>
      </tr>
    </tbody>
  </table>
</Div>
