<div class="body">
  <div class="login">
    @if (loding) {
    <mat-spinner class="spinner" diameter="50"></mat-spinner>
    } @if (!loding) {
    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <img src="assets/img/02_Logo_Tigo_209x150.png" alt="Tigo" width="50%" />
      <h1>Soporte Comercial</h1>
      <mat-form-field appearance="fill" class="ancho">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="username"
          required="true"
        />
        @if (loginForm.get('username')?.hasError('required')) {
        <mat-error>El campo usuario es obligatorio</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill" hideRequiredMarker="true">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          autocomplete="off"
          formControlName="password"
        />
        @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>El campo contraseña es obligatorio</mat-error>
        }
      </mat-form-field>
      <br />
      <button
        type="submit"
        class="buttonPage ancho"
        [disabled]="loginForm.invalid"
      >
        Iniciar sesión
      </button>
    </form>
    }
  </div>
</div>
