<app-header></app-header>

<br />

<div style="padding: 20px">
  <h2>Listado de usuarios</h2>
  <mat-form-field style="width: 97%;">
    <mat-label>Cédula</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input autocomplete="off" />
  </mat-form-field>
  <button mat-icon-button>
    <mat-icon matBadgeColor="accent" matTooltip="Crear usuario" md-36 (click)="openDialog()"
      >person add</mat-icon
    >
  </button>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    
  >
    <ng-container matColumnDef="Cédula">
      <th mat-header-cell *matHeaderCellDef>Cédula</th>
      <td mat-cell *matCellDef="let element">{{ element.Cedula }}</td>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Login }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Perfil">
      <th mat-header-cell *matHeaderCellDef>Perfil</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Perfil }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.estado }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <div class="consolidado">
          <button mat-icon-button (click)="editaUsuario(element.Login)">
            <mat-icon matBadgeColor="primary" matTooltip="Editar"
              >edit</mat-icon
            >
          </button>

          &nbsp;&nbsp;&nbsp;
          <button mat-icon-button (click)="deleteUsuario(element.Login)">
            <mat-icon matBadgeColor="accent" matTooltip="Eliminar"
              >remove</mat-icon
            >
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 100]"
    [pageSize]="pageSize"
    [length]="totalItems"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
