.example-spacer {
    flex: 1 1 auto;
}

.ancho {
    width: 90%;
}

.menor {
    width: 80%;
}

.start {
    margin-right: auto;
    background-color: #102b58;
}

.margin {
    margin-right: 30px;
}

.full {
    width: 95%;
}

.fullM {
    width: 90%;
}

/* .mat-form-field-infix .ng-tns-c30-2{
    display: contents;
} */

.mat-form-field-infix {
    display: contents !important;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}


.demo-section+.demo-section {
    margin-top: 16px;
}