.example-spacer {
  flex: 1 1 auto;
}

.ancho {
  width: 90%;
}

.ancho_busca{
  width: 80%;
}

.menor {
  width: 80%;
}

.start {
  margin-right: auto;
  background-color: #102b58;
}

.margin {
  margin-right: 30px;
}

.full {
  width: 95%;
}

.fullM {
  width: 90%;
}

/* .mat-form-field-infix .ng-tns-c30-2{
    display: contents;
} */

.mat-form-field-infix {
  display: contents !important;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}


.consolidado {
  display: flex;
}

.hidden {
  display: none;
}

.example-accordion {
  display: block;
  max-width: 500px;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item+.example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-accordion {
  width: 90%;
}

.filtro {
  display: flex;
}

.error{
  color: rgb(175, 51, 51);
  margin-left: 5px;
}

mat-hint{
  background-color: rgb(255, 220, 220) !important;
  width: 100%;
  padding: 5px 0 5px 0;
  margin: 0;
}

#lista1 {
  font-size:16px;
}
.separador {
  font-size: 20px;
}
#lista1 li {
   display:inline;
   padding-left:3px;
   padding-right:3px;
}

[matBadgeColor=accent]{
  .mat-badge-content{
      background : #f1bf28;
      color: #fff;
  }
}