<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
  <h1 class="center">Crear usuario</h1>
  <mat-grid-list cols="4" rowHeight="90px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" formControlName="nombre"/>
        @if (formulario.get('nombre')?.hasError('required')) {
          <mat-error
            >El nombre es obligatorio</mat-error
            >
          }
          @if (formulario.get('nombre')?.hasError('minlength')) {
            <mat-error
              >El nombre debe tener al menos 10 caracteres</mat-error
              >
            }
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Cédula</mat-label>
            <input matInput placeholder="Cédula" formControlName="cedula" />
            @if (formulario.get('cedula')?.hasError('required')) {
              <mat-error
                >La cédula es obligatoria</mat-error
                >
              }
              @if (formulario.get('cedula')?.hasError('minlength')) {
                <mat-error
                  >La cédula debe tener al menos 5 caracteres</mat-error
                  >
                }
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>Login</mat-label>
                <input matInput autocomplete="off" formControlName="login"/>
                @if (formulario.get('login')?.hasError('required')) {
                  <mat-error
                    >El login es obligatorio</mat-error
                    >
                  }
                  @if (formulario.get('login')?.hasError('minlength')) {
                    <mat-error
                      >El login debe tener al menos 5 caracteres</mat-error
                      >
                    }
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input
                      matInput
                      autocomplete="off"
                      formControlName="password"
                      required
                      type="password"
                      />
                    @if (formulario.get('password')?.hasError('required')) {
                      <mat-error
                        >La contraseña es obligatoria</mat-error
                        >
                      }
                      @if (formulario.get('password')?.hasError('minlength')) {
                        <mat-error
                          >La contraseña debe tener al menos 5 caracteres</mat-error
                          >
                        }
                      </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                      <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="con_pass"
                          required
                          type="password"
                          />
                        @if (formulario.get('con_pass')?.hasError('required')) {
                          <mat-error
                            >Confirmar contraseña es obligatorio</mat-error
                            >
                          }
                          @if (formulario.get('con_pass')?.hasError('minlength')) {
                            <mat-error
                              >Confirmar contraseña debe tener al menos 5 caracteres</mat-error
                              >
                            }
                          </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                          <mat-form-field class="ancho" appearance="fill">
                            <mat-label>Perfil</mat-label>
                            <mat-select formControlName="perfil" required>
                              @for (perfil of perfiles; track perfil) {
                                <mat-option [value]="perfil.id" >
                                  {{ perfil.nombre }}
                                </mat-option>
                              }
                            </mat-select>
                            @if (formulario.get('perfil')?.hasError('required')) {
                              <mat-error
                                >El campo perfil es obligatorio</mat-error
                                >
                              }
                            </mat-form-field>
                          </mat-grid-tile>

                          <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field class="ancho" appearance="fill">
                              <mat-label>Canal</mat-label>
                              <input matInput autocomplete="off" formControlName="canal"/>
                            </mat-form-field>
                          </mat-grid-tile>

                          <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field class="ancho" appearance="fill">
                              <mat-label>Ciudad</mat-label>
                              <input matInput autocomplete="off" formControlName="ciudad" />
                              <input type="hidden" formControlName="edit" />
                            </mat-form-field>
                          </mat-grid-tile>

                          <hr />

                          <mat-grid-tile [colspan]="2" [rowspan]="1" class="center">
                            <button (click)="dialogRef.close()" class="buttonPage ancho">
                              Cancelar
                            </button>
                          </mat-grid-tile>

                          <mat-grid-tile [colspan]="2" [rowspan]="1" class="center">
                            <button mat-raised-button class="buttonPage ancho" type="submit">
                              Guardar
                            </button>
                          </mat-grid-tile>
                        </mat-grid-list>
                      </form>
